<template>
    <div>
        <div class="alert alert-danger" v-if="error">
            <p>{{ error }}</p>
        </div>

        <template v-else>
            <table class="table">
                <tr>
                    <th scope="row">Название</th>
                    <td>{{ name }}</td>
                </tr>
                <tr>
                    <th scope="row">Автор</th>
                    <td>{{ author }}</td>
                </tr>
                <tr>
                    <th scope="row">Жанр</th>
                    <td>{{ genre }}</td>
                </tr>
                <tr>
                    <th scope="row">Издатель</th>
                    <td>{{ publisher }}</td>
                </tr>
                <tr>
                    <th scope="row">Оценка пользователей</th>
                    <td>{{ rating }}</td>
                </tr>
                <tr v-if="$auth.check()">
                    <th scope="row">Ваша оценка</th>
                    <td>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="1" v-on:change="setVote" v-model="userRating">
                            <label class="form-check-label" for="inlineRadio1">1</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="2" v-on:change="setVote" v-model="userRating">
                            <label class="form-check-label" for="inlineRadio2">2</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="3" v-on:change="setVote" v-model="userRating">
                            <label class="form-check-label" for="inlineRadio3">3</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio4" value="4" v-on:change="setVote" v-model="userRating">
                            <label class="form-check-label" for="inlineRadio4">4</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio5" value="5" v-on:change="setVote" v-model="userRating">
                            <label class="form-check-label" for="inlineRadio5">5</label>
                        </div>
                    </td>
                </tr>
                <tr v-if="$auth.check()">
                    <th scope="row">Бронирование</th>
                    <td>
                        <button class="btn btn-success" v-on:click="createBooking" :disabled="!allowBooking">Забронировать</button>
                        <button class="btn btn-info" v-on:click="subscribe" :disabled="!allowSubscribe">Напомнить</button>
                    </td>
                </tr>
            </table>

            <form v-if="$auth.check()" @submit.prevent="sendComment" class="mb-3">
                <div class="mb-3">
                    <label for="new-comment">Новый комментарий</label>
                    <textarea class="form-control" id="new-comment" v-model="newComment" required></textarea>
                </div>

                <button type="submit" class="btn btn-primary">Отправить</button>
            </form>

            <ul v-if="comments.length" class="list-group">
                <li v-for="comment in comments" class="list-group-item">
                    <p v-if="comment.user" class="text-muted">Автор: {{ comment.user.email }} ({{ comment.created_at }})</p>
                    <p v-else class="text-muted">Автор: пользователь не найден ({{ comment.created_at }})</p>
                    {{ comment.text }}
                </li>
            </ul>
            <p v-else class="text-center">Комментариев не найдено</p>
        </template>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                title: 'Книга',
                error: null,
                bookUrl: null,
                id: null,
                name: null,
                author: null,
                genre: null,
                publisher: null,
                allowBooking: false,
                allowSubscribe: false,
                comments: [],
                newComment: null,
                rating: 0,
                userRating: null
            }
        },
        metaInfo () {
            return {
                title: this.title
            }
        },
        methods: {
            createBooking() {
                this.$http
                    .post(this.bookUrl + '/booking')
                    .then(response => {
                        if (response.data.success) {
                            this.getBook()
                        }
                    })
                    .catch(error => this.error = error.response.data.error)
            },
            fetchComments() {
                this.$http
                    .get(this.bookUrl + '/getComments')
                    .then(response => this.comments = response.data)
                    .catch(error => this.error = error.response.data.error)
            },
            sendComment() {
                this.$http
                    .post(this.bookUrl + '/sendComment', {
                        text: this.newComment
                    })
                    .then(response => {
                        if (response.data.success) {
                            this.newComment = null;
                            this.fetchComments();
                        }
                    })
                    .catch(error => this.error = error.response.data.error)
            },
            getRating() {
                this.$http
                    .get(this.bookUrl + '/getRating')
                    .then(response => {
                        this.rating = response.data.value.toFixed(2);
                        this.userRating = response.data.previous_vote;
                    })
                    .catch(error => this.error = error.response.data.error)
            },
            setVote() {
                this.$http
                    .post(this.bookUrl + '/setVote', {
                        value: this.userRating
                    })
                    .then(response => {
                        if (response.data.success) {
                            this.getRating();
                        }
                    })
                    .catch(error => this.error = error.response.data.error)
            },
            subscribe() {
                this.$http
                    .post(this.bookUrl + '/subscribe')
                    .then(response => {
                        if (response.data.success) {
                            this.getBook()
                        }
                    })
                    .catch(error => error.response.data.error)
            },
            getBook() {
                this.$http
                    .get('book/' + this.id + '/getBook')
                    .then(response => {
                        this.title = this.name = response.data.book.name;
                        this.author = response.data.book.author;
                        this.genre = response.data.book.genre;
                        this.publisher = response.data.book.publisher;

                        this.allowBooking = response.data.allowBooking;
                        this.allowSubscribe = response.data.allowSubscribe;

                        this.fetchComments();
                        this.getRating();
                    })
                    .catch(error => this.error = error.response.data.error)
            }
        },
        mounted() {
            this.id = this.$route.params.id;
            this.bookUrl = 'book/' + this.id;

            this.getBook();
        }
    }
</script>