<template>
    <div class="container">
        <div class="alert alert-danger" v-if="error">
            <p>{{ error }}</p>
        </div>

        <form class="form-inline" @submit.prevent="fetchBooksWithKeyword(keyword)">
            <label class="sr-only" for="keyword">Найти</label>
            <div class="input-group mb-2 mr-sm-2">
                <div class="input-group-prepend">
                    <div class="input-group-text">Поиск</div>
                </div>
                <input type="text" class="form-control" id="keyword" v-model="keyword" required>
            </div>

            <button type="submit" class="btn btn-primary mb-2 mr-sm-2">Найти</button>
            <a href="#" @click.prevent="fetchBooks()" class="btn btn-primary mb-2">Сбросить</a>
        </form>

        <div v-if="books.length" class="row">
            <div class="col-md-4" v-for="book in books">
                <div class="card mb-4" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">{{ book.name }}</h5>
                        <p class="card-text">Автор: {{ book.author }}</p>
                        <router-link class="stretched-link" :to="{ name: 'showBook', params: { id: book.id }}">Открыть</router-link>
                    </div>
                </div>
            </div>
        </div>
        <h3 v-else>
            Книги не найдены
        </h3>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                title: this.$route.meta.title,
                error: null,
                books: [],
                keyword: null
            }
        },
        metaInfo () {
            return {
                title: this.title
            }
        },
        methods: {
            fetchBooksWithKeyword($keyword) {
                this.$http
                    .get('book/getByKeyword', {
                        params: {
                            keyword: $keyword
                        }
                    })
                    .then(response => this.books = response.data)
                    .catch(error => this.error = error.response.data.error)
            },
            fetchBooks() {
                this.keyword = null;

                this.$http
                    .get('book/getAll')
                    .then(response => this.books = response.data)
                    .catch(error => this.error = error.response.data.error)
            }
        },
        mounted() {
            this.fetchBooks();
        }
    }
</script>