<template>
    <div>
        <h3>{{ title }}</h3>

        <div class="alert alert-danger" v-if="error">
            <p>{{ error }}</p>
        </div>

        <table v-if="bookings.length" class="table table-sm">
            <tr>
                <th scope="col">Название</th>
                <th scope="col">Истекает</th>
                <th></th>
            </tr>
            <tr v-for="booking in bookings">
                <td>
                    <router-link :to="{ name: 'showBook', params: { id: booking.book.id }}">{{ booking.book.name }}</router-link>
                </td>
                <td>{{ booking.expires }}</td>
                <td>
                    <button v-on:click="cancelBooking(booking.book_id)" class="btn btn-primary">Отменить</button>
                </td>
            </tr>
        </table>
        <p v-else>Бронирований не найдено</p>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                title: this.$route.meta.title,
                error: null,
                bookId: null,
                bookings: []
            }
        },
        metaInfo () {
            return {
                title: this.title
            }
        },
        methods: {
            getBookings() {
                this.$http
                    .get('mybookings')
                    .then(response => this.bookings = response.data)
                    .catch(error => this.error = error.response.data.error)
            },
            cancelBooking(bookId) {
                this.$http
                    .put('book/' + bookId + '/booking')
                    .then(response => {
                        if (response.data.success) {
                            this.getBookings()
                        }
                    })
                    .catch(error => this.error = error.response.data.error)
            }
        },
        mounted() {
            this.getBookings();
        }
    }
</script>