<template>
    <div class="card card-default">
        <div class="card-header">{{ title }}</div>
        <div class="card-body">
            <div class="alert alert-danger" v-if="errors.length">
                <p v-for="error in errors">{{ error}}</p>
            </div>

            <form @submit.prevent="update">
                <div class="form-group row">
                    <label for="email" class="col-sm-2 col-form-label">E-mail</label>
                    <div class="col-sm-10">
                        <input type="email" id="email" class="form-control" v-model="email" required>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="password" class="col-sm-2 col-form-label">Пароль</label>
                    <div class="col-sm-10">
                        <input type="password" id="password" class="form-control" v-model="password">
                    </div>
                </div>
                <fieldset class="form-group">
                    <div class="row">
                        <legend class="col-form-label col-sm-2 pt-0">Роль</legend>
                        <div class="col-sm-10">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="0" v-model="role">
                                <label class="form-check-label" for="inlineRadio1">Пользователь</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="1" v-model="role">
                                <label class="form-check-label" for="inlineRadio2">Библиотекарь</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="2" v-model="role">
                                <label class="form-check-label" for="inlineRadio3">Администратор</label>
                            </div>
                        </div>
                    </div>
                </fieldset>

                <button type="submit" class="btn btn-primary">Сохранить</button>
                <router-link class="btn btn-light" :to="{ name: 'admin.users' }">К списку пользователей</router-link>
                <button @click.prevent="destroy" class="btn btn-danger">Удалить пользователя</button>
            </form>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                title: this.$route.meta.title,
                errors: [],
                id: null,
                email: null,
                password: null,
                role: null
            }
        },
        metaInfo () {
            return {
                title: this.title
            }
        },
        methods: {
            update() {
                this.$http
                    .put('admin/users/' + this.id, {
                        email: this.email,
                        password: this.password,
                        role: this.role
                    })
                    .then(response => this.$router.push({ name: 'admin.users' }))
                    .catch(error => this.errors = error.response.data.error)
            },
            destroy() {
                this.$http
                    .delete('admin/users/' + this.id)
                    .then(response => this.$router.push({ name: 'admin.users' }))
                    .catch(error => this.errors = error.response.data.error)
            }
        },
        mounted() {
            this.id = this.$route.params.id;

            this.$http
                .get('admin/users/' + this.id)
                .then(response => {
                    this.email = response.data.email;
                    this.role = response.data.role
                })
                .catch(error => {
                    this.errors = error.response.data.error;
                });
        }
    }
</script>