<template>
    <div class="card card-default">
        <div class="card-header">{{ title }}</div>
        <div class="card-body">
            <div class="alert alert-danger" v-if="errors.length">
                <p v-for="error in errors">{{ error }}</p>
            </div>

            <form @submit.prevent="store">
                <div class="form-group row">
                    <label for="email" class="col-sm-2 col-form-label">E-mail</label>
                    <div class="col-sm-10">
                        <input type="email" id="email" class="form-control" v-model="email" required>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="password" class="col-sm-2 col-form-label">Пароль</label>
                    <div class="col-sm-10">
                        <input type="password" id="password" class="form-control" v-model="password">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="password-confirmation" class="col-sm-2 col-form-label">Повторите пароль</label>
                    <div class="col-sm-10">
                        <input type="password" id="password-confirmation" class="form-control" v-model="password_confirmation">
                    </div>
                </div>
                <fieldset class="form-group">
                    <div class="row">
                        <legend class="col-form-label col-sm-2 pt-0">Роль</legend>
                        <div class="col-sm-10">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" id="role-radio1" value="0" v-model="role">
                                <label class="form-check-label" for="role-radio1">Пользователь</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" id="role-radio2" value="1" v-model="role">
                                <label class="form-check-label" for="role-radio2">Библиотекарь</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" id="role-radio3" value="2" v-model="role">
                                <label class="form-check-label" for="role-radio3">Администратор</label>
                            </div>
                        </div>
                    </div>
                </fieldset>

                <button type="submit" class="btn btn-primary">Создать пользователя</button>
                <router-link class="btn btn-light" :to="{ name: 'admin.users' }">К списку пользователей</router-link>
            </form>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                title: this.$route.meta.title,
                errors: [],
                email: null,
                password: null,
                password_confirmation: null,
                role: 0
            }
        },
        metaInfo () {
            return {
                title: this.title
            }
        },
        methods: {
            store() {
                this.$http
                    .post('admin/users', {
                        email: this.email,
                        password: this.password,
                        password_confirmation: this.password_confirmation,
                        role: this.role
                    })
                    .then(response => this.$router.push({ name: 'admin.users' }))
                    .catch(error => this.errors = error.response.data.error);
            }
        }
    }
</script>