<template>
    <div>
        <h3>{{ title }}</h3>

        <div class="alert alert-danger" v-if="error">
            <p>{{ error }}.</p>
        </div>

        <div class="form-group">
            <router-link :to="{ name: 'admin.userCreate' }" class="btn btn-success">Создать пользователя</router-link>
        </div>

        <table v-if="users.length" class="table table-sm">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Email</th>
                <th scope="col">Роль</th>
                <th scope="col"></th>
            </tr>
            <tr v-for="user in users">
                <td scope="row">{{ user.id }}</td>
                <td>{{ user.email }}</td>
                <td>{{ roles[user.role] }}</td>
                <td><router-link :to="{ name: 'admin.userEdit', params: { id: user.id }}">Редактировать</router-link></td>
            </tr>
        </table>

        <p v-else>Пользователей не найдено</p>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                title: this.$route.meta.title,
                error: null,
                users: [],
                roles: ['Пользователь', 'Библиотекарь', 'Администратор']
            }
        },
        metaInfo () {
            return {
                title: this.title
            }
        },
        methods: {
            fetchUsers() {
                this.$http
                    .get('admin/users')
                    .then(response => this.users = response.data)
                    .catch(error => this.error = error.response.data.error);
            }
        },
        mounted() {
            this.fetchUsers();
        }
    }
</script>