<template>
    <nav id="nav" class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <router-link class="nav-link" :to="{ name : 'home' }">Домой</router-link>
                </li>
                <li v-if="$auth.check()" class="nav-item">
                    <router-link class="nav-link" :to="{ name : 'userBookings' }">Мои бронирования</router-link>
                </li>
                <li v-if="$auth.check([1,2])" class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Администрирование</a>
                    <div class="dropdown-menu" aria-labelledby="dropdown">
                        <router-link v-if="$auth.check(2)" class="dropdown-item" :to="{ name : 'admin.users' }">Пользователи</router-link>
                        <router-link v-if="$auth.check([1,2])" class="dropdown-item" :to="{ name : 'admin.books' }">Книги</router-link>
                    </div>
                </li>
            </ul>

            <ul class="navbar-nav ml-auto">
                <template v-if="$auth.check()">
                    <li class="nav-item">
                        <span class="nav-link text-white">{{ $auth.user().email }}</span>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" @click.prevent="$auth.logout({ redirect: '/login' })">Выйти</a>
                    </li>
                </template>
                <template v-else>
                    <li class="nav-item">
                        <router-link class="nav-link" :to="{ name : 'register' }">Зарегистрироваться</router-link>
                    </li>
                    <li class="nav-item">
                        <router-link class="nav-link" :to="{ name : 'login' }">Войти</router-link>
                    </li>
                </template>
            </ul>
        </div>
    </nav>
</template>