<template>
    <div class="card card-default">
        <div class="card-header">{{ title }}</div>
        <div class="card-body">
            <div v-if="success" class="alert alert-success">
                <p>Письмо для сброса пароля отправлено.</p>
            </div>
            <div v-else-if="error" class="alert alert-danger">
                <p v-if="error === 'passwords.user'">Пользователь не найден.</p>
                <p v-else>Другая ошибка.</p>
            </div>

            <form autocomplete="off" @submit.prevent="sendLink">
                <div class="form-group">
                    <label for="email">E-mail</label>
                    <input type="email" id="email" class="form-control" placeholder="user@example.com" v-model="email" required>
                </div>

                <button type="submit" class="btn btn-primary">Отправить письмо для сброса пароля</button>
            </form>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                title: this.$route.meta.title,
                email: null,
                success: null,
                error: null
            }
        },
        metaInfo () {
            return {
                title: this.title
            }
        },
        methods: {
            sendLink() {
                this.$http
                    .post('auth/forgot', {
                        email: this.email
                    })
                    .then(response => {
                        this.success = response.data.success
                    })
                    .catch(error => {
                        this.error = error.response.data.error
                    });
            }
        }
    }
</script>