<template>
    <div class="card card-default">
        <div class="card-header">{{ title }}</div>
        <div class="card-body">
            <div class="alert alert-danger" v-if="errors.length">
                <p v-for="error in errors">{{ error }}</p>
            </div>

            <form autocomplete="off" @submit.prevent="login" method="post">
                <div class="form-group">
                    <label for="email">E-mail</label>
                    <input type="email" id="email" class="form-control" placeholder="user@example.com" v-model="email" required>
                </div>
                <div class="form-group">
                    <label for="password">Пароль</label>
                    <input type="password" id="password" class="form-control" v-model="password" required>
                </div>

                <button type="submit" class="btn btn-primary">Войти</button>
                <router-link class="btn btn-light" :to="{ name: 'forgotPassword' }">Сбросить пароль</router-link>
            </form>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                title: this.$route.meta.title,
                errors: [],
                email: null,
                password: null
            }
        },
        metaInfo () {
            return {
                title: this.title
            }
        },
        methods: {
            login() {
                this.$auth.login({
                    params: {
                        email: this.email,
                        password: this.password
                    },
                    success: function() {
                        this.$router.push({ name: 'home' });
                    },
                    error: function(error) {
                        this.errors = [];

                        if (error.response.data.status === 'error') {
                            this.errors = error.response.data.error;
                        } else {
                            this.errors.push(error.response.data.error);
                        }
                    },
                    rememberMe: true,
                    fetchUser: true
                })
            }
        },
    }
</script>