<template>
    <div class="card card-default">
        <div class="card-header">{{ title }}</div>
        <div class="card-body">
            <div class="alert alert-danger" v-if="errors.length">
                <p v-for="error in errors">{{ error }}</p>
            </div>

            <form autocomplete="off" @submit.prevent="register" v-if="!success" method="post">
                <div class="form-group" v-bind:class="{ 'has-error': has_error && errors.email }">
                    <label for="email">E-mail</label>
                    <input type="email" id="email" class="form-control" placeholder="user@example.com" v-model="email">
                    <span class="help-block" v-if="has_error && errors.email">{{ errors.email.join(', ') }}</span>
                </div>
                <div class="form-group" v-bind:class="{ 'has-error': has_error && errors.password }">
                    <label for="password">Пароль</label>
                    <input type="password" id="password" class="form-control" v-model="password">
                    <span class="help-block" v-if="has_error && errors.password">{{ errors.password.join(', ') }}</span>
                </div>
                <div class="form-group" v-bind:class="{ 'has-error': has_error && errors.password }">
                    <label for="password_confirmation">Повторите пароль</label>
                    <input type="password" id="password_confirmation" class="form-control" v-model="password_confirmation">
                </div>

                <button type="submit" class="btn btn-primary">Зарегистрироваться</button>
            </form>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                title: this.$route.meta.title,
                name: '',
                email: '',
                password: '',
                password_confirmation: '',
                has_error: false,
                errors: [],
                success: false
            }
        },
        metaInfo () {
            return {
                title: this.title
            }
        },
        methods: {
            register() {
                this.$auth.register({
                    data: {
                        email: this.email,
                        password: this.password,
                        password_confirmation: this.password_confirmation
                    },
                    success: function () {
                        this.success = true
                    },
                    error: function (error) {
                        this.errors = [];
                        this.has_error = true;

                        if (error.response.data.status === 'error') {
                            this.errors = error.response.data.error;
                        } else {
                            this.errors.push(error.response.data.error);
                        }
                    }
                });
            }
        }
    }
</script>