<template>
    <div class="card card-default">
        <div class="card-header">{{ title }}</div>
        <div class="card-body">
            <div v-if="success" class="alert alert-success">
                <p>Пароль успешно изменен.</p>
            </div>
            <div v-else-if="errors.length" class="alert alert-danger">
                <p v-for="error in errors">
                    <template v-if="error === 'passwords.user'">Пользователь не найден.</template>
                    <template v-else-if="error === 'passwords.token'">Токен недействителен.</template>
                    <template v-else-if="error === 'passwords.password'">Пароли не совпадают или менее 8 символов.</template>
                    <template v-else>{{ error }}</template>
                </p>
            </div>

            <form autocomplete="off" @submit.prevent="changePassword">
                <fieldset v-bind:disabled="disable_form">
                    <div class="form-group row">
                        <label for="email" class="col-sm-2 col-form-label">E-mail</label>
                        <div class="col-sm-10">
                            <input type="email" readonly class="form-control-plaintext" id="email" v-model="email">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="password" class="col-sm-2 col-form-label">Пароль</label>
                        <div class="col-sm-10">
                            <input type="password" id="password" class="form-control" v-model="password" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="password_confirmation" class="col-sm-2 col-form-label">Повторите пароль</label>
                        <div class="col-sm-10">
                            <input type="password" id="password_confirmation" class="form-control" v-model="password_confirmation">
                        </div>
                    </div>

                    <button type="submit" class="btn btn-primary">Изменить пароль</button>
                </fieldset>
            </form>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                title: this.$route.meta.title,
                token: null,
                email: null,
                password: null,
                password_confirmation: null,
                success: null,
                errors: [],
                disable_form: true
            }
        },
        metaInfo () {
            return {
                title: this.title
            }
        },
        methods: {
            changePassword() {
                this.$http
                    .post('auth/reset-password', {
                        token: this.token,
                        email: this.email,
                        password: this.password,
                        password_confirmation: this.password_confirmation,
                    })
                    .then(response => {
                        this.success = response.data.success;

                        setTimeout(() => this.$router.push({ path: '/login'}), 3000);
                    })
                    .catch(error => {
                        this.errors = [];

                        if (error.response.data.status === 'error') {
                            this.errors = error.response.data.error;
                        } else {
                            this.errors.push(error.response.data.error);
                        }
                    });
            }
        },
        mounted() {
            if (this.$route.query.token && this.$route.query.email) {
                this.token = this.$route.query.token;
                this.email = this.$route.query.email;
                this.disable_form = false;
            }
        }
    }
</script>