<template>
    <div>
        <h3>{{ title }}</h3>

        <div class="alert alert-danger" v-if="error">
            <p>{{ error }}.</p>
        </div>

        <div class="form-group">
            <router-link :to="{ name: 'admin.bookCreate' }" class="btn btn-success">Добавить книгу</router-link>
        </div>

        <table v-if="books.length" class="table table-sm">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Название</th>
                <th scope="col">В наличии</th>
                <th scope="col">Бронирование</th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
            <tr v-for="book in books">
                <th scope="row">{{ book.id }}</th>
                <td>{{ book.name }}</td>
                <td>
                    <template v-if="book.isAvailable">Да</template>
                    <template v-else>Нет</template>
                </td>
                <td>
                    <template v-if="book.booking">
                        {{ book.booking.user.email }}
                        <p>до {{ book.booking.expires }}</p>
                    </template>
                </td>
                <td>
                    <button v-if="book.booking" v-on:click="giveBook(book.id)" class="btn btn-primary btn-sm align-middle">Отменить бронирование и выдать</button>
                    <button v-else-if="book.isAvailable" v-on:click="giveBook(book.id)" class="btn btn-primary btn-sm">Выдать</button>
                    <button v-else v-on:click="receiveBook(book.id)" class="btn btn-primary btn-sm align-middle">Вернуть</button>
                </td>
                <td>
                    <router-link :to="{ name: 'admin.bookEdit', params: { id: book.id }}">Редактировать</router-link>
                </td>
            </tr>
        </table>

        <p v-else>Книг не найдено</p>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                title: this.$route.meta.title,
                error: null,
                books: []
            }
        },
        metaInfo () {
            return {
                title: this.title
            }
        },
        methods: {
            getBooks() {
                this.$http
                    .get('admin/books')
                    .then(response => this.books = response.data)
                    .catch(error => this.error = error.response.data.error)
            },
            giveBook(bookId) {
                this.$http
                    .put('admin/books/' + bookId + '/give')
                    .then(response => {
                        if (response.data.success) {
                            this.getBooks();
                        }
                    })
                    .catch(error => this.error = error.response.data.error)
            },
            receiveBook(bookId) {
                this.$http
                    .put('admin/books/' + bookId + '/receive')
                    .then(response => {
                        if (response.data.success) {
                            this.getBooks();
                        }
                    })
                    .catch(error => this.error = error.response.data.error)
            }
        },
        mounted() {
            this.getBooks();
        }
    }
</script>