<template>
    <div class="card card-default">
        <div class="card-header">{{ title }}</div>
        <div class="card-body">
            <div class="alert alert-danger" v-if="errors.length">
                <p v-for="error in errors">{{ error }}</p>
            </div>

            <form @submit.prevent="update">
                <div class="form-group">
                    <label for="name">Название</label>
                    <input type="text" id="name" class="form-control" v-model="name" required>
                </div>
                <div class="form-group">
                    <label for="author">Автор</label>
                    <input type="text" id="author" class="form-control" v-model="author">
                </div>
                <div class="form-group">
                    <label for="genre">Жанр</label>
                    <input type="text" id="genre" class="form-control" v-model="genre">
                </div>
                <div class="form-group">
                    <label for="publisher">Издатель</label>
                    <input type="text" id="publisher" class="form-control" v-model="publisher">
                </div>

                <button type="submit" class="btn btn-primary">Сохранить</button>
                <router-link class="btn btn-light" :to="{ name: 'admin.books' }">К списку книг</router-link>
                <button type="button" @click.prevent="destroy" class="btn btn-danger">
                    Удалить книгу (будут удалены связанные бронирования, комментарии, подписки и голоса)
                </button>
            </form>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                title: this.$route.meta.title,
                errors: [],
                id: null,
                name: null,
                author: null,
                genre: null,
                publisher: null,
            }
        },
        metaInfo () {
            return {
                title: this.title
            }
        },
        methods: {
            update() {
                this.$http
                    .put('admin/books/' + this.id, {
                        name: this.name,
                        author: this.author,
                        genre: this.genre,
                        publisher: this.publisher,
                    })
                    .then(response => this.$router.push({ name: 'admin.books' }))
                    .catch(error => this.errors = error.response.data.error)
            },
            destroy() {
                this.$http
                    .delete('admin/books/' + this.id)
                    .then(response => this.$router.push({ name: 'admin.books' }))
                    .catch(error => this.errors = error.response.data.error)
            }
        },
        mounted() {
            this.id = this.$route.params.id;

            this.$http
                .get('admin/books/' + this.id)
                .then(response => {
                    this.name = response.data.name;
                    this.author = response.data.author;
                    this.genre = response.data.genre;
                    this.publisher = response.data.publisher;
                })
                .catch(error => this.errors = error.response.data.error)
        }
    }
</script>