<template>
    <div class="card card-default">
        <div class="card-header">{{ title }}</div>
        <div class="card-body">
            <div class="alert alert-danger" v-if="errors.length">
                <p v-for="error in errors">{{ error }}</p>
            </div>

            <form @submit.prevent="store">
                <div class="form-group">
                    <label for="name">Название</label>
                    <input type="text" id="name" class="form-control" v-model="name" required>
                </div>
                <div class="form-group">
                    <label for="author">Автор</label>
                    <input type="text" id="author" class="form-control" v-model="author">
                </div>
                <div class="form-group">
                    <label for="genre">Жанр</label>
                    <input type="text" id="genre" class="form-control" v-model="genre">
                </div>
                <div class="form-group">
                    <label for="publisher">Издатель</label>
                    <input type="text" id="publisher" class="form-control" v-model="publisher">
                </div>

                <button type="submit" class="btn btn-primary">Добавить</button>
                <router-link class="btn btn-light" :to="{ name: 'admin.books' }">К списку книг</router-link>
            </form>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                title: this.$route.meta.title,
                errors: [],
                name: null,
                author: null,
                genre: null,
                publisher: null,
            }
        },
        metaInfo () {
            return {
                title: this.title
            }
        },
        methods: {
            store() {
                this.$http
                    .post('admin/books', {
                        name: this.name,
                        author: this.author,
                        genre: this.genre,
                        publisher: this.publisher,
                    })
                    .then(response => this.$router.push({ name: 'admin.books' }))
                    .catch(error => this.errors = error.response.data.error)
            }
        }
    }
</script>